{% extends 'base.html'%}

{% load static%}

{% block title%}
<title>Password Confirm</title>
{% endblock title%}

{% block nav%}
<div class="nav-bar" id="login-nav">
    <h1>LifeBook</h1>
</div>
{% endblock nav%}

{% block contents%}
 {% if validlink%}
<div class="confirm-pwd">
    <div class="alert alert-info info" style="width: 100%; margin-left: -10%;">
        please insert your new password in the form below
        <span><i class="fa fa-arrow-down"></i></span>
    </div>
    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="btn btn-dark">Reset Password</button>
    </form>
</div>
{%else%}
 <div class="confirm-pwd-not-valid">
    <div class="alert alert-info" style="width: 100%;">
        The link you are trying to access has been <b>EXPIRED/USED..</b> 
        click the link below <span><i class="fa fa-arrow-down"></i></span> to request new one.
    </div>
    <a type="button" class="btn btn-dark" href="/password-reset">
        Request New Link Here
    </a>
 </div>
{% endif%}
{% endblock contents%}
{% block footer%}
{% endblock footer%}