{% extends 'base.html'%}

{% load static%}

{% block title%}
<title>Password Reset</title>
{% endblock title%}

{% block nav%}
<div class="nav-bar" id="login-nav">
    <h1>LifeBook</h1>
    <a href="/login" style="line-height: 40px; margin-left:600px; color: white;">
        <span><i class="fa fa-sign-in-alt"></i></span>
        login
    </a>
</div>
{% endblock nav%}

{% block contents%}
 <div class="reset-pwd">
    <div class="alert alert-info" style="width: 100%; margin-left: -10%;">
        if you have forgoten your password enter your email below to reset it
    </div>
    <form method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="btn btn-dark">Reset Password</button>
    </form>
 </div>
{% endblock contents%}
{% block footer%}
{% endblock footer%}