{% extends 'base.html'%}

{% load static%}

{% block title%}
<title>Password Reset Copmlete</title>
{% endblock title%}

{% block nav%}
<div class="nav-bar" id="login-nav">
    <h1>LifeBook</h1>
</div>
{% endblock nav%}

{% block contents%}
<div class="reset-pwd">
    <div class="alert alert-info" style="width: 100%; margin-left: -10%;">
        Your password has been reset click the button below
        <span><i class="fa fa-arrow-down"></i></span>
        to log in again..
    </div>
    <a href="/login" class="btn btn-dark">Login Here</a>
</div>
{% endblock contents%}
{% block footer%}
{% endblock footer%}