{% extends 'base.html'%}

{% load static%}

{% block title%}
<title>Password Reset Done</title>
{% endblock title%}

{% block nav%}
<div class="nav-bar" id="login-nav">
    <h1>LifeBook</h1>
</div>
{% endblock nav%}

{% block contents%}
<div class="reset-pwd">
    <div class="alert alert-info" style="width: 100%; margin-left: -10%;">
       An email has been sent, Be sure to check your email inbox
       use the sent link to reset your Password
    </div>
</div>
{% endblock contents%}
{% block footer%}
{% endblock footer%}