{% extends 'base.html'%}

{% load static%}

{% block title%}
<title>Privacy policy and T</title>
{% endblock title%}

{% block nav%}
<div class="nav-bar" id="login-nav">
    <h1>LifeBook Team</h1>
</div>
{% endblock nav%}

{% block contents%}
 <div class="container">
     <br><br><br><br>
    <h5 class="ml-5">The LifeBook Technical team <span><i class="fa fa-arrow-down"></i></span></h5>
     <br><br>
     <div class="row">
         <div class="col-md-3">
            <div class="team">
                <img src="{% static 'posts/images/avatar1.png'%}" alt="">
                <ul>
                    <li><h5>Mr Isaya Bendera</h5></li>
                    <li><h5>UmmaSoft CEO</h5></li>
                    <li>
                        <h5>LifeBook TechLead</h5>
                    </li>
                    <li>
                        <h5>Backend Specialist</h5>
                    </li>
                </ul>
            </div>
         </div>

        <div class="col-md-3">
            <div class="team">
                <img src="{% static 'posts/images/avatar1.png'%}" alt="">
                <ul>
                    <li>
                        <h5>Mr Izack Wiliam</h5>
                    </li>
                    <li>
                        <h5>UmmaSoft CTO</h5>
                    </li>
                    <li>
                        <h5>LifeBook Designer</h5>
                    </li>
                    <li>
                        <h5>Frontend Specialist</h5>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
        <div class="team">
            <img src="{% static 'posts/images/avatar1.png'%}" alt="">
            <ul>
                <li>
                    <h5>Mr Walter Jackson</h5>
                </li>
                <li>
                    <h5>The UmmaSoft COO</h5>
                </li>
                <li>
                    <h5>LifeBook Dev Op</h5>
                </li>
                <li>
                    <h5>Dev Ops Specialist</h5>
                </li>
            </ul>
        </div>
        </div>
     </div>

<!-- Associates here-->
<br><br><br><br>
<h5 class="ml-5">LifeBook Staff <span><i class="fa fa-arrow-down"></i></span></h5>
<br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="team">
                <img src="{% static 'posts/images/avatar1.png'%}" alt="">
                <ul>
                    <li>
                        <h5>Mr Isaya Bendera</h5>
                    </li>
                    <li>
                        <h5>UmmaSoft CEO</h5>
                    </li>
                    <li>
                        <h5>LifeBook TechLead</h5>
                    </li>
                    <li>
                        <h5>Backend Specialist</h5>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="team">
                <img src="{% static 'posts/images/avatar1.png'%}" alt="">
                <ul>
                    <li>
                        <h5>Mr Izack Wiliam</h5>
                    </li>
                    <li>
                        <h5>UmmaSoft CTO</h5>
                    </li>
                    <li>
                        <h5>LifeBook Designer</h5>
                    </li>
                    <li>
                        <h5>Frontend Specialist</h5>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="team">
                <img src="{% static 'posts/images/avatar1.png'%}" alt="">
                <ul>
                    <li>
                        <h5>Mr Walter Jackson</h5>
                    </li>
                    <li>
                        <h5>The UmmaSoft COO</h5>
                    </li>
                    <li>
                        <h5>LifeBook Dev Op</h5>
                    </li>
                    <li>
                        <h5>Dev Ops Specialist</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="join">
        <h5>if you are interested to join the team please don't hesistate to contact our staff via
            <b style="color:yellowgreen;">UmmaSoft@gmail.com</b>
        </h5>
        <br><br><br>
    </div>
    <br><br><br><br>
 </div>
{% endblock contents%}